@media only screen and (max-width: 480px) {
  body {
    background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-position: top 0rem left 0rem, right 0rem top 74.6667rem;
  }

  main {
    height: 200vh;
    max-width: 32rem;
    margin: 0 auto;
  }

  .container {
    width: 21.6667rem;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: column; 
    text-align: center;
  }

  .top-box-left {
    width: 100%;
    margin-bottom: 2.1333rem;
  }

  .top-box-right {
    width: 100%;
    margin-bottom: 3.2rem;
  }

  .bottom-box {
    width: 100%;
    margin-top: 0px;
  }

  .title {
    font-size: 2.4667rem;
    margin-top: 0;
  }

  .description {
    font-size: 1.1893rem;
    margin-top: 1.3rem;
  }

  br {
    display: none;
  }

  .rate {
    height: 5.2667rem;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin-bottom: 0px;
  }

  .rate-label {
    margin: 0;
  }

  .review-card {
    height: 16.5333rem;
    width: 100%;
    padding: 2.6667rem 2rem 0;
    text-align: left;
  }

  .review {
    margin-top: 1.7333rem;
    font-size: 1.1267rem;
  } 

}

